body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 0;
    color: navy;
}
label {
    width: 10em;
    float: left;
    padding-right: 1em;
    padding-bottom: .5em;
}
input {
    float: left;
    width: 15em;
    margin-bottom: .5em;
}

span {
    padding-left: .25em;
}
input {
    float: left;
    margin-bottom: .5em;
}
br {
    clear: left;
}